<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NPM App</title>
</head>

<body>

    <header>
        <div class="title">
            Natural Language Processing App v0.8
        </div>
        <!--
            <div class="navigation">
                Go
            </div>    
            -->
    </header>
    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="website" type="text" name="input" value="" onblur="onBlur()" placeholder=" Please enter a URL here">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
            <!--
            <form class="" onsubmit="return Client.handleSubmitText(event)">
                <textarea id="text" type="text" name="input" placeholder=" Please enter your text here" rows="19" cols="50"></textarea>
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>    
            -->
            

        </section>
        <section>
            <strong>Form Results:</strong>
            <div id="results">


            </div>
        </section>
    </main>
    <footer>
        <p>hermanwooooo.github.io - Udacity&#169</p>
    </footer>
    <!--
            <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script> 
        -->

</body>

</html>