body {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    background-color: rgb(121, 121, 121);
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
