
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: rgb(59, 59, 59);
    
    .title{
        color: #ffffff;
        font-size: 35px;
    }
    .navigation{
        color: white;
    }
    
}
